:root {
	--primary-shade-color: #212121;
	--secondary-color: #ffffff;
	--text-color: #757575;
	--accent-color: #2196f3;
	--primary-color: #000000;
	--secondary-link-color: rgba(255, 255, 255, 0.6);
	--primary-background-color: #2f303a;
	--secondary-background-color: #f5f4fa;
	--header-border-bottom-color: #ececec;
	--border-color: #eeeeee;
	--social-icon-color: rgba(175, 177, 184, 1);
	--social-networks-background-color: rgba(255, 255, 255, 0.1);
	--clients-background-color: #e5e5e5;
	--action-text-background-color: rgba(47, 48, 58, 0.8);
	--portfolio-text-background-color: rgba(33, 150, 243, 0.9);
	--backdrop-background-color: rgba(0, 0, 0, 0.2);
	--border-second-input-color: rgba(33, 33, 33, 0.2);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.section {
	padding: 94px 0;
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--text-color);
	background: var(--secondary-color);
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.navigation {
	margin-left: 93px;
}

.nav-list {
	display: flex;
}

img {
	max-width: 100%;
	display: flex;
	height: auto;
}

/*-------------HEADER-------------*/

.header {
	border-bottom: 1px solid var(--header-border-bottom-color);
}

.nav-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	padding: 32px 0;
	letter-spacing: 0.02em;
	color: var(--primary-shade-color);
	display: block;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	position: relative;
}

.nav-link:hover,
.nav-link:focus {
	color: var(--accent-color);
}

.nav-link.active::after {
	content: '';
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--portfolio-text-background-color);
	position: absolute;
	left: 0;
	bottom: 0;
}

.current {
	color: var(--accent-color);
}

.logo {
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--primary-color);
}

.logo-web {
	color: var(--accent-color);
}

.white-logo {
	color: var(--secondary-color);
}

.header-container {
	display: flex;
	align-items: center;
}

.nav-item:not(:last-child) {
	margin-right: 50px;
}

.icon-contact {
	margin-right: 10px;
	fill: currentColor;
	vertical-align: middle;
}

.contact-list {
	display: flex;
	margin-left: auto;
}

.contact-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--text-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
	color: var(--accent-color);
}

.contact-item {
	color: var(--text-color);
}

.contact-item:not(:last-child) {
	margin-right: 30px;
}

/*-------------HERO-------------*/

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--secondary-color);
	margin-bottom: 30px;
}

.hero {
	padding: 200px 0;
	height: 600px;
	width: 1600px;
	margin: auto;
	background-color: var(--primary-background-color);
	text-align: center;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*-------------QUALITIES-------------*/

.qualities-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-shade-color);
}

.qualities-list {
	display: flex;
}

.qualities-picture-icon {
	display: flex;
	justify-items: center;
}

.qualities-title {
	margin-bottom: 10px;
}

.qualities-paragraph {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--text-color);
}

.qualities-wrap {
	width: 270px;
	padding-bottom: 25px;
	padding-top: 25px;
	background: var(--secondary-background-color);
	border-radius: 4px;
	display: flex;
	margin-bottom: 30px;
	justify-content: center;
}

.qualities-item:not(:last-child) {
	margin-right: 30px;
}

/*-------------ACTION-------------*/

.action-list {
	display: flex;
}

.action-item:not(:last-child) {
	margin-right: 30px;
}

.action {
	padding-bottom: 94px;
}

.action-item {
	position: relative;
}

.action-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--secondary-color);
}

.action-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 27px 0;
	background: var(--action-text-background-color);
}

/*-------------COMMAND-------------*/

.team-list {
	display: flex;
}

.team {
	background: var(--secondary-background-color);
}

.team-wraper {
	padding: 30px 0;
}

.team-item:not(:last-child) {
	margin-right: 30px;
}

.team-item {
	background: var(--secondary-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.teammate-name {
	margin-bottom: 10px;
}

.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	margin-bottom: 50px;
	letter-spacing: 0.03em;
	color: var(--primary-shade-color);
}

.teammate-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-shade-color);
}

.teammate-position {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--text-color);
	margin-bottom: 16px;
}

.team-social-list {
	display: flex;
	justify-content: center;
}

.team-social-item {
	width: 44px;
	height: 44px;
}

.team-social-item:not(:last-child) {
	margin-right: 10px;
}

.team-social-link {
	width: 100%;
	height: 44px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary-color);
	color: var(--social-icon-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
	background-color: var(--accent-color);
	color: var(--secondary-color);
}

.team-social-icon {
	fill: currentColor;
}

.clients-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-shade-color);
	margin-bottom: 50px;
}
.clients-list {
	display: flex;
}

.clients-link {
	width: 170px;
	color: var(--social-icon-color);
	padding-bottom: 13px;
	padding-top: 13px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	border: 1px solid var(--social-icon-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
	border: 1px solid var(--accent-color);
	color: var(--accent-color);
}

.clients-item {
	display: flex;
	color: var(--social-icon-color);
}

.clients-item:not(:last-child) {
	margin-right: 30px;
}

.clieants-icon {
	fill: currentColor;
}

/*-------------FOOTER-------------*/

.map-link {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--secondary-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.map-link:hover,
.map-link:focus {
	color: var(--accent-color);
}

.secondary-contact-link {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--secondary-link-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-contact-link:hover,
.secondary-contact-link:focus {
	color: var(--accent-color);
}

.footer {
	background-color: var(--primary-background-color);
	padding: 60px 0;
	display: flex;
}

.address {
	margin-top: 20px;
	font-style: normal;
}

.second-contact-item:not(:last-child) {
	margin-bottom: 9px;
}

.social-networks-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	color: var(--secondary-color);
}

.social-networks {
	display: flex;
}

.social-networks-title {
	margin-left: auto;
}

.footer-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--secondary-color);
	margin-bottom: 20px;
}

.links-list {
	align-items: baseline;
	display: flex;
}

.links-item {
	width: 44px;
	height: 44px;
}

.links-item:not(:last-child) {
	margin-right: 10px;
}

.links-link {
	width: 100%;
	height: 44px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--social-networks-background-color);
	color: var(--secondary-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-link:hover,
.links-link:focus {
	background-color: var(--accent-color);
	color: var(--secondary-color);
}

.links-icon {
	fill: currentColor;
}

.address-container {
	display: flex;
	align-items: baseline;
}

.logo-container {
	display: block;
	margin-right: 70px;
}

.links {
	display: block;
}

.subscription {
	margin-left: auto;
}

.subscription-input {
	width: 358px;
	background-color: transparent;
	border: none;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	padding: 15px 0px 15px 16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	color: var(--secondary-link-color);
	outline: none;
	margin-right: 12px;
}

.subscription-input::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	color: var(--secondary-link-color);
}

.subscription-btn {
	cursor: pointer;
	align-items: center;
	text-align: center;
	padding: 10px 28px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	background: var(--accent-color);
	color: var(--secondary-background-color);
	border-radius: 4px;
	border: none;
}

.subscription-icon {
	vertical-align: middle;
	margin-left: 10px;
}

.subscription-form {
	display: flex;
}

.backdrop {
	width: 100vw;
	height: 100vh;
	background-color: var(--backdrop-background-color);
	position: fixed;
	top: 0;
	left: 0;
	transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
	width: 528px;
	min-height: 581px;
	background-color: var(--secondary-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transform: translate(-50%, -50%);
	padding: 40px;
}

.modal-close {
	cursor: pointer;
	position: absolute;
	top: 14px;
	right: 14px;
	width: 30px;
	height: 30px;
	background: var(--secondary-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.close-icon {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover,
.close-icon:focus {
	fill: var(--accent-color);
}

.input-wrap {
	position: relative;
}

.input-icon {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	margin-left: 12px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-input {
	margin-bottom: 10px;
}

.form-field-textarea {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.modal-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-shade-color);
	margin-bottom: 12px;
}

.input {
	width: 100%;
	height: 40px;
	border: 1px solid var(--border-second-input-color);
	box-sizing: border-box;
	border-radius: 4px;
	padding-left: 42px;
	background-color: transparent;
	outline: none;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text {
	width: 100%;
	height: 120px;
	border: 1px solid var(--border-second-input-color);
	box-sizing: border-box;
	border-radius: 4px;
	padding: 12px 16px;
	background-color: transparent;
	resize: none;
	outline: none;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
.text:focus {
	border-color: var(--accent-color);
}

.input:focus + .input-icon {
	fill: var(--accent-color);
}

.input-text {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: var(--text-color);
	display: block;
	margin-bottom: 4px;
}

.text::placeholder {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}

.check-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--text-color);
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.check-text span {
	width: 16px;
	height: 15px;
	border: 2px solid var(--primary-shade-color);
	border-radius: 2px;
	margin-right: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.check:checked + .check-text span {
	background-color: var(--accent-color);
	border: none;
}

.checkbox-field {
	margin-bottom: 30px;
	align-items: center;
	justify-content: center;
}

.modal-link {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	text-decoration-line: underline;
	text-decoration-skip-ink: none;
	color: var(--accent-color);
}

.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

/*-------------PORTFOLIO-------------*/

/*---------FILTER--------------------*/
.filter-list {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.filter-item:not(:last-child) {
	margin-right: 8px;
}

/*--------PORTFOLIO-----------------*/

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
}

.projects {
	border: 1px solid var(--border-color);
}

.portfolio-item:not(:nth-child(3n)) {
	margin-right: 30px;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
}

.projects {
	padding: 20px 24px;
}

.secondary-button {
	cursor: pointer;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-shade-color);
	border-radius: 4px;
	border: none;
	padding: 6px 22px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-button:focus,
.secondary-button:hover {
	color: var(--secondary-background-color);
	background: var(--accent-color);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-titles {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--primary-shade-color);
}

.portfolio-titles {
	margin-bottom: 4px;
}

.portfolio-paragraph {
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--text-color);
}

.primary-button {
	cursor: pointer;
	font-family: inherit;
	padding: 10px 32px;
	display: block;
	margin: 0 auto;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	background: var(--accent-color);
	color: var(--secondary-background-color);
	border-radius: 4px;
	border: none;
	min-width: 200px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio-item {
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
	transform: translateY(0);
}

.portfolio-item:hover,
.portfolio-item:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	color: var(--secondary-color);
}

.portfolio-overlay {
	position: absolute;
	padding: 63px 24px;
	height: 100%;
	top: 0;
	left: 0;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	background: var(--portfolio-text-background-color);
}

.portfolio-item-wrap {
	position: relative;
	overflow: hidden;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
