.action {
	padding-bottom: 94px;
}

.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	margin-bottom: 50px;
	letter-spacing: 0.03em;
	color: var(--primary-shade-color);
}

.action__list {
	display: flex;
}

.action__item {
	position: relative;
	&:not(:last-child) {
		margin-right: 30px;
	}
}

.action-overlay__text {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--secondary-color);
}

.action-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 27px 0;
	background: var(--action-text-background-color);
}
