.contact {
  display: flex;
  margin-left: auto;
}

.contact__item {
  color: $text-color;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.contact__link {
  @include style(500, 14px, 1.14);
  letter-spacing: 0.02em;
  color: $text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}

.second-contact__map-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.second-contact__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba($secondary-color, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.second-contact__item:not(:last-child) {
  margin-bottom: 9px;
}
