:root {
  $primary-shade-color: #212121;
  --secondary-color: #ffffff;
  --text-color: #757575;
  --accent-color: #2196f3;
  --primary-color: #000000;
  --secondary-link-color: #ffffff99;
  --primary-background-color: #30313b;
  --secondary-background-color: #f5f4fa;
  --header-border-bottom-color: #ececec;
  --border-color: #eeeeee;
  --social-icon-color: #afb1b8;
  --social-networks-background-color: #ffffff1a;
  --clients-background-color: #e5e5e5;
  --action-text-background-color: #30313bcc;
  --portfolio-text-background-color: #2196f3e6;
  --backdrop-background-color: #00000033;
  --border-second-input-color: #21212133;
}
